/**
 *   This is sample theme constant. Modify it as per your website
 */

//==============================================================  COLORS ===============//
$BODY_BG_COLOR      : #fff;
$BODY_COPY_COLOR    : #333;
$ANCHOR_COLOR       : #069;
$ANCHOR_HOVER_COLOR : #09F;

//==============================================================  TYPOGRAPHY ===========//
$H1_FONT_SIZE       : 48px;
$H2_FONT_SIZE       : 36px;
$H3_FONT_SIZE       : 22px;
$H4_FONT_SIZE       : 16px;