/**
 *   This is sample theme constant. Modify it as per your website
 */

//==============================================================  COLORS ===============//
$body_bg_color      : #fff !default;
$body_copy_color    : #333 !default;
$anchor_color       : #069 !default;
$anchor_hover_color : #09f !default;

//==============================================================  TYPOGRAPHY ===========//
$h1_font_size       : 48px;
$h2_font_size       : 36px;
$h3_font_size       : 22px;
$h4_font_size       : 16px;

//==============================================================  Z-INDEX  =============//
$Z-INDEX-POPUP              : 3100;
$Z-INDEX-MOBILE-MENU        : 3000;

