node_modules

.idea

.idea/.name

.idea/jsLibraryMappings.xml

.idea/libraries/staticFrame_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/staticFrame.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/watcherTasks.xml

.sass-cache

views/test.html

staticframe.sublime-project

staticframe.sublime-workspace

build

builds/docing

builds/images/facebook.png

builds/images/google.png

builds/images/linkedin.png

builds/images/menu.png

builds/images/skype.png

builds/images/twitter.png

builds/js/jQuery.dockingGolies.js

views/test/a.html

views/dev-jshint-report.html

public/js/libs/owl.carousel.js

public/js/jQuery.dockingGolies copy.txt

public/images/facebook.png

public/images/google.png

public/images/linkedin.png

public/images/menu.png

public/images/skype.png

public/images/twitter.png

public/css/sf-global.css

public/css/sf-global.css.map

public/js/jQuery.dockingGolies.js

public/css/owl.carousel.css

builds/test.html
