<% include /global-includes/html-header.ejs %>
<body>
	<% include /global-includes/content-header.ejs %>

		<h1>
			Welcome to projgen
		</h1>	

	<% include /global-includes/content-footer.ejs %>
	<% include /global-includes/footer-library.ejs %>
</body>
