<% include /global-includes/html-header.ejs %>

<body>
<!-- home page styling -->
<style>
	body{
		font-family: "Open Sans", arial;
	}
	p{
		margin-bottom: 20px;
	}
	a{
		color:#888;
	}
	a:hover{
		color:#f00;
	}
	.utility-links a ,
	.credits a{
		padding: 0 5px;
	}

	.utility-links{
		margin-top:100px;
	}
	.utility-links a{
		font-size: 1.2em;
	}
</style>
<div style="text-align:center; margin-top:25vh; font-size:36px; color:#ccc;    ">
	<h1 style="font-weight:600;">
		<span style="color:#777; font-weight: 700; ">Static</span><span style="font-weight:normal; color:red; font-weight: 300;">Frame</span>.
	</h1>

</div>

<div  class="center credits" style="font-size: 1em;color:#999;">
	<span style="color:black;">by</span> -
	<a href="http://www.newtonflash.com/" target="_blank">Pradyumna Kumar</a>  /
	<a href="https://in.linkedin.com/in/sranka23" target="_blank"> Shourya Ranka</a>
</div>


<div class="utility-links center">
	<a href="htt" target="_blank">Getting Started</a>  -
	<a href="" target="_blank">Examples</a>  -
	<a href="" target="_blank">Architecture</a>  -
	<a href="" target="_blank">Library Documentations</a>
</div>


<% include /global-includes/footer-library.ejs %>
<script type="text/javascript">
	WebFontConfig = {
		google: { families: [ 'Open+Sans:300,400,600,700:latin' ] }
	};
	(function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})();
</script>
</body>
</html>
