<% include /global-includes/html-header.ejs %>
<body>
	<header>
		<div class="container">
			<div class="brand">
			</div>
			<div>
				<div class="bg-ound"></div>
				<div class="root-menu"></div>
				<div class="avail-check"></div>
				<nav class="main-nav">
					<ul>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
						<li><a href="#" title=""></a></li>
					</ul>
				</nav>
			</div>	
		</div>	
	</header>
	<div class="sectionContainer">
		<section class="main-banner">
			<div class="banner-holder">
				<div class="banner-nav">
					<figure>
						<img src=""	alt=""/>
					</figure>
					<nav class="second-nav">
						<ul>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
							<li><a href="#" title=""></a></li>
						</ul>	
					</nav>	
					<div class="section-context-title">
						<h1></h1>
					</div>	
				</div>	
			</div>	
		</section>
		<section class="genral-content">
			<div class="contianer">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4">
							<a href="#" title="click here to see video">
								<img src="" alt="" />
							</a>
						</div>
						<div class="col-sm-8">
							<h3><a href="#">The Taj West End</a>Bangalore</h3>
							<h3>Offers</h3>

						</div>	
					</div>	
				</div>
				<aside class="col-sm-4">

				</aside>	
			</div>	
		</section>	
	</div>
	<footer>
	</footer>
</body>
