<% include /components/global-components/html-header.ejs %>
<body>
<% include /components/global-components/content-header.ejs %>

<div id="test">

</div>

<% include /components/global-components/content-footer.ejs %>
<% include /components/global-components/footer-library.ejs %>
<script>
    NameSpace.ajaxService.get("get request", {
        url:"http://localhost:3100/services/data.json",
        success:function(data){
            console.table(data);
        },
        cache:false
    });

   NameSpace.ajaxService.post("tests", {
        url:"http://localhost:3100/services/data45.json",
        success:function(data){
            console.table(data);
        },
        data:{
            "b":"c"
        }
   });
</script>
</body>
