/** style all global level elements, 
	some of the styles are already written change 
	them according to your taste. */


html{

}

body{
	font-family: Arial, helvetica, sans-serif;
	font-size: 14px;  //recomend it to be in pixels
	line-height: 1.5em; 

}



a{
	&:hover{

	}
}

p {

}

table{

}



