* { margin:0; padding:0; background-repeat:no-repeat; }

html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; font-family: sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{margin:0;font-size:1em;line-height:1.4;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary{display:block;}
audio,canvas,progress,video{display:inline-block; *display:inline;*zoom:1;  vertical-align: baseline;}
audio:not([controls]){display:none;}
[hidden], template{display:none;}
a {background: transparent; text-decoration:none;} /*Remove the gray background color from active links in IE 10*/
a:active,a:hover, {outline: 0;}
a:focus {/*outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;*/outline-offset: -2px;}
abbr[title]{border-bottom:1px dotted;}
figure, form, fieldset{border:0;}
b, strong{font-weight:bold;}
blockquote{margin:0;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
small{font-size:85%;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
ul, ol{list-style:none;}
nav ul, nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
ins{background:#ff9;color:#000;text-decoration:none;}
pre, code, kbd, samp{font-family:monospace, 'courier new'; font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word; overflow:auto;}
q{quotes:none;}
q:before, q:after{content:"";content:none;}

button[disabled]
html input[disabled]{cursor:default;}
button,
select {text-transform: none;}
button, input, select, textarea{font-size:inherit;margin:0;vertical-align:baseline; *vertical-align:middle;line-height:inherit; color:inherit;}
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button, input{line-height:normal;}
button::-moz-focus-inner, 
input::-moz-focus-inner{margin:0; padding:0;}
textarea{overflow:auto; vertical-align:top;resize:vertical;}
input[type="checkbox"], 
input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px;}
input[type="search"] { -webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto;}
button[disabled], 
legend{border:0;*margin-left:-7px; white-space:normal;}
optgroup {font-weight: bold;}

table{border-collapse:collapse; border:0 none; border-spacing:0; width:100%;}
th,td{vertical-align:top;}

pre {display: block;padding: 9.5px; margin: 0 0 10px; font-size: 13px;line-height: 1.42857143;
  word-break: break-all;word-wrap: break-word;color: #333333; background-color: #f5f5f5;border: 1px solid #cccccc; border-radius: 4px;}
pre code{padding: 0;font-size: inherit;color: inherit; white-space: pre-wrap;background-color: transparent; border-radius: 0;}
code {padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;white-space: nowrap;
  border-radius: 4px;}


@media print{
	/* ===This is commented as we require background color and background images to be printed.
	*{background:transparent !important;color:black !important;	box-shadow:none !important;		text-shadow:none !important;}
	*/
	a, a:visited{text-decoration:underline;}
	a[href]:after{content:" (" attr(href) ")";}
	abbr[title]:after{content:" (" attr(title) ")";}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:"";}
	pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
	thead{display:table-header-group;}
	tr, img{page-break-inside:avoid;}
	img{max-width:100% !important;}	
	p, h2, h3{orphans:3;widows:3;}
	h2, h3{page-break-after:avoid;}
}