//==============================================================  COLORS ================//
$BODY_BG_COLOR: #F0F0F0;



//==============================================================  TYPOGRAPHY ================//
$H1_FONT_SIZE: 26px;
$H2_FONT_SIZE: 24px;
$H3_FONT_SIZE: 20px;
$H4_FONT_SIZE: 16px;

