/**
 *	Put default settings for html elements for your website. These style should work, if it does not carry any other class
 */

 body{
 	font:14px/1.5em;
 	background-color: white;
 }

 p{
 	margin-bottom: .5em;
 }
